# เป็น API หลักที่ไปดึงแต่ละส่วน : สปีชีส์, ความสามารถ หรืออื่นๆ
VITE_API_BASE_URL=

# แหล่งรูป Pokemon หลัก
VITE_OFFICIAL_URL=

# แหล่งรูปสำรองเผื่อไม่โหลด
VITE_SPRITE_CDN_URL=

# รูปพื้นหลัง การ์ด อื่นๆ
# VITE_ASSETS_BASE_URL=