#เป็น API หลัก ที่ไปแต่ละส่วนเช่น สปีชีส์, ความสามารถ หรืออื่นๆ
VITE_API_BASE_URL=""
#เป็น API รูป Pokemon หลัก
VITE_OFFICIAL_URL=""
#เป็น API สำรองเผื่อรูปไม่โหลด
VITE_SPRITE_CDN_URL=""

#เป็น BG รูป อื่นๆ
# VITE_ASSETS_BASE_URL=""
